{:project/id {:db/valueType :db.type/uuid
              :db/unique    :db.unique/identity}


 :fact/id {}

 :session/id           {}
 :message/id           {}
 :tool-call/id         {}
 :plan/id              {}
 :task/id              {}
 :error/id             {}
 :file/id              {}
 :file-change/id       {}
 :file-change-apply/id {}


 }
